@import './reset/reset.css';
@font-face {
  font-family: "confortaa";
  src: url("/assets/fonts/Comfortaa-Bold.ttf") format("truetype"), url("/assets/fonts/Comfortaa-Light.ttf") format("truetype"), url("/assets/fonts/Comfortaa-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.container {
  display: flex;
  gap: 4rem;
  max-width: 1380px;
  width: calc(100% - 4rem);
  margin: 0 auto;
}

.title {
  font-family: "confortaa", sans-serif;
}
.title * {
  font-family: "confortaa", sans-serif;
}

.text {
  font-family: "Roboto", serif;
}

.btn {
  cursor: pointer;
  position: relative;
  max-width: 12rem;
  width: 100%;
  padding: 1rem;
  font-family: "Roboto", serif;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 0.4rem;
  overflow: hidden;
  z-index: 1;
  transition: all 0.2s linear;
  text-align: center;
}

.btn-primary {
  background-color: #5F28FC;
  color: #fff;
  position: relative;
  z-index: 1;
}
.btn-primary:hover {
  color: #fff;
}
.btn-primary::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.1s linear;
}
.btn-primary:hover::before {
  height: 100%;
  background-color: #17171C;
}

.btn-primary-nohover {
  background-color: #5F28FC;
  color: #fff;
}

.btn-secondary {
  background-color: #fff;
  color: #17171C;
  position: relative;
  z-index: 1;
}
.btn-secondary:hover {
  color: #fff;
}
.btn-secondary::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.1s linear;
}
.btn-secondary:hover::before {
  height: 100%;
  background-color: #17171C;
}

.left-col {
  max-width: 300px;
  width: 100%;
}
.left-col .title {
  font-size: 3rem;
}

.hero-container {
  padding: 4rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 100svh;
}
.hero-container::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -2;
}
.hero-container .caption .title {
  max-width: 768px;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 150%;
}
.hero-container .caption .title span {
  color: #5F28FC;
}
.hero-container .caption .text {
  max-width: 700px;
  font-size: 1.1rem;
}
.hero-container::before {
  background-image: url("/assets/img/hero.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.features-container {
  background-color: #0c001f;
  color: #fff;
}
.features-container .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px 300px;
  flex: 1;
  gap: 0.2rem;
  background-color: #fff;
}
.features-container .wrapper .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4rem;
  padding: 2rem;
  background-color: #0c001f;
}
.features-container .wrapper .card .ico {
  font-size: 1.5rem;
}
.features-container .wrapper .card:hover {
  background: rgba(205, 205, 205, 0.5);
  box-shadow: 0 6px 26px 0 rgba(31, 135, 95, 0.238);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #17171C;
}

.conections-container .card {
  padding: 2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 1rem;
}
.conections-container .card .ico {
  padding: 2rem;
  font-size: 6rem;
  background-color: #e9ecef;
  border-radius: 0.6rem;
}
.conections-container .card .caption .title {
  font-weight: bold;
  font-size: 2rem;
}
.conections-container .card .caption .btn {
  background-color: #5F28FC;
  color: #fff;
}

.care-container .wrapper .title {
  font-size: 2rem;
  font-weight: bold;
}
.care-container .wrapper .text {
  cursor: pointer;
  padding: 2rem 0;
  font-size: 1.2rem;
  border-bottom: 1px solid #E4E6FD;
  opacity: 0.5;
}
.care-container .wrapper .text.active {
  border-bottom: 1px solid #17171C;
  opacity: 1;
}
.care-container .wrapper .text.active strong {
  color: #5F28FC;
  font-size: 1.5rem;
}

.trial-container .wrapper {
  width: 100%;
  background-color: #5F28FC;
  color: #fff;
  border-radius: 0.6rem;
}
.trial-container .wrapper .title {
  max-width: 500px;
  font-size: 2.5rem;
  line-height: 150%;
}
.trial-container .wrapper .title span {
  font-size: 4rem;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

.form-container {
  color: #fff;
  background-color: #0c001f;
}
.form-container .left-col .text {
  font-size: 1.2rem;
}
.form-container .wrapper {
  max-width: 20rem;
  width: 100%;
  color: #17171C;
}
.form-container .wrapper .form-btn {
  max-width: 12rem;
  width: 100%;
  cursor: pointer;
  padding: 1rem;
  color: #17171C;
  border-radius: 0;
  border: 1px solid #17171C;
  transition: all 0.1s linear;
}
.form-container .wrapper .form-btn.btn-retailer {
  border-right: none;
  border-radius: 0.6rem 0 0 0.6rem;
}
.form-container .wrapper .form-btn.btn-brand {
  border-left: none;
  border-radius: 0 0.6rem 0.6rem 0;
}
.form-container .wrapper .form-btn.active {
  background-color: #5F28FC;
  border: 1px solid transparent;
  color: #fff;
}
.form-container .wrapper .form-field {
  display: none;
}
.form-container .wrapper .form-field.active {
  background-color: red;
  color: #fff;
}
.form-container .wrapper input {
  max-width: 25rem;
  width: 100%;
  padding: 0.5rem;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.4);
}
.form-container .wrapper .btn {
  background-color: #5F28FC;
  color: #fff;
}

.testimonial-container {
  background-color: #1F1F2B;
}/*# sourceMappingURL=style.css.map */